.formcontato__err-message{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: .5rem 0 .5rem 2rem;
    margin: .5rem 0 0;
    border-radius: .2rem;

    /* text-align: center; */
    font-weight: 500;
    font-size: 1.1rem;
    background-color: var(--errMessage);
    color: var(--errMessageTxt);
}
.formcontato__err-message span{
    position: absolute;
    left: .5rem;
    top: 50%;
    color: inherit;
    transform: translateY(-50%);
}
.formcontato__err-message b{
    color: inherit;
    font-weight: 700;
}



.formcontato__scs-message{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: .5rem 0 .5rem 2rem;
    margin: .5rem 0 0;
    border-radius: .2rem;

    /* text-align: center; */
    font-weight: 500;
    font-size: 1.1rem;
    background-color: var(--scsMessage);
    color: var(--errMessageTxt);
}
.formcontato__scs-message span{
    position: absolute;
    left: .5rem;
    top: 50%;
    color: inherit;
    transform: translateY(-50%);
}
.formcontato__scs-message b{
    color: inherit;
    font-weight: 700;
}
